
DATABASE_URL="mysql://root:soapier@localhost:3306/mium"
PORT=4000

MEMIS_BASE_URL="https://memis-test.bintelanalytics.mw/memisdev/api/"
MEMIS_USERNAME=username
MEMIS_PASSWORD=password
MEMIS_TIMEOUT=10000

KEY=secretkey123